.submenu {
    scrollbar-width: none;
}

.submenu::-webkit-scrollbar {
    display: none;
}

:root {
    --header-height: 0px;
}

.header_Section {
    z-index: 1111;
}

.Home .cointainer div {
    background: #ebeaea;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: .3rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

menu ul li {
    padding: 0rem 1rem;
    font-weight: 600;
    color: rgb(1, 18, 29);
    border-bottom: 2px solid transparent;
    transition: all .3s ease-in-out;
    text-align: center;
}

@media (max-width:780px) {
    menu ul li {
        padding: 1rem;
        margin: auto;
        transition: all .3s ease-in-out;

    }

    menu ul li:hover {
        box-shadow: 0px 4px 6px 8px rgba(0, 0, 0, 0.1);
        ;
        overflow: hidden;
    }
}

menu ul li:hover {
    transform: scale(1.1);
    border-bottom: 2px solid gray;

}

.sidemenu ul li {
    padding: .5rem;
    margin: .3rem;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.sidemenu ul li:hover {
    background-color: lightblue;
    border-radius: .3rem 0 0 .3rem;
    color: rgb(71, 71, 71);
    transform: scale(1.1);
}


.submenu ul li a {
    display: block;
    text-wrap: wrap;
    padding: .3rem;
    color: rgb(51, 51, 51);
    font-size: 1.1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.submenu ul li a:hover {
    color: mediumslateblue;
    transform: scale(1.1);
}

.sidemenu,
.submenu {
    height: calc(100vh - var(--header-height));
}


.search_Suggestion ul li {
    cursor: pointer;
    max-width: 90%;
    display: inline-block;
    text-align: center;
    font-size: 1.1rem;
    border: 1px solid transparent;
    margin: .3rem;
    padding: .3rem;
    border-radius: .3rem;
    transition: all .3s ease-in-out;
}

.search_Suggestion ul li:hover {
    border: 1px solid gray;
    color: gray;
    transform: scale(1.1);
}

.input_Box input {
    width: 70%;
}

.input_Box button {
    width: 30%;
}

.input_Box input:focus {
    outline: none;
}

/* 
.writerCard:hover {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
} */

.Glassmorphism {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    z-index: 20;
}

form label {
    padding: 1rem .3rem;
    margin: .2rem 1rem;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

form div input {
    width: 90%;
}