body {
    padding: 0;
    margin: 0;
}

.df {
    display: flex;
}

/* Header Cointainer CSS */

header {
    background-image: url(./Assets/navBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 5rem;
    display: flex;
    align-items: center;
}

nav {
    padding: .5rem;
    margin: .5rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;

}

.branding {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo img {
    height: 4rem;
    margin: 0.8rem;
}

.brand_Text span {
    color: #CC9600;
}

.main_Menu ul {
    display: flex;
    list-style: none;
}

.main_Menu ul li {
    color: white;
    letter-spacing: 2%;
    font-weight: 400;
    font-family: mono;
    margin: 0 .8rem;
    cursor: pointer;
}

.main_Menu ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
}

.notification_Bell img {
    width: 20px;
    height: 20px;
}

.Profile_Icon img {
    width: 40px;
    height: auto;
}

.Profile_Icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .8rem;
}


.Profile_Icon a {
    color: white;
    text-decoration: none;
    cursor: grab;
}

.Profile_Icon span {
    color: white;
    text-align: center;
    font-size: 12px;
}



.bell_Profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Main Cointainer CSS */
.hero {
    background-image: url(./Assets/mainbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.hero h2 {
    background: linear-gradient(90deg, #FF7700 0%, #CC9600 50%, #FF7700 100%);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: Bona Nova;
    color: transparent;
    font-size: 40px;
    font-weight: bold;
}

.hero p {
    font-family: Bona Nova;
    font-weight: 400;
    color: #FFFFFF;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 2%;
    text-align: center;

}

.search_Box {
    border: 1px solid #4B330B;
    border-radius: .4rem;
}

.search_Box input {
    padding: 8px 16px;
    margin: .4rem;
    border: none;
    border-radius: .3rem;
    background-color: transparent;
    width: 16rem;
    color: #A59F9F;
}

.search_Box input:focus {
    outline: none;
}

.search_Box button {
    padding: 8px 20px;
    margin: .4rem;
    color: #FFFFFF;
    border: none;
    border-radius: .3rem;
    background-color: #4B330B;
    outline: none;
}

.product_Preview {
    margin: 3rem 1rem;
    padding: 3rem 1rem;
}

.product_Preview h1 {
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-family: Bona Nova;
    font-style: bold;
    font-size: 48px;
    letter-spacing: 2%;
}

.products {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.books {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 18rem;
    width: fit-content;
}

.books img {
    height: 18rem;
    width: auto;
}

.books h3 {
    padding: 1px;
    margin: 5px;
}

.product_Indicetor {
    display: flex;
    width: 100%;
    justify-content: center;
}

.product_Indicetor div {
    border: 1px solid black;
    border-radius: 50%;
    height: .8rem;
    width: .8rem;
    margin: 8rem .7rem;
}

.product_Indicetor :nth-child(2) {
    background-color: #64AEF4;
}

footer {
    background: #000;
    /* height: 60vh; */
    width: 100%;
    padding-top: 5rem;
}

.footer_Content {
    display: flex;
    justify-content: space-around;
}

.footer_Content img {
    height: 20rem;
    width: auto;
    margin: .5rem 2rem;
    padding: .5rem;

}

.about_Image {
    /* display: flex;
    flex-direction: column;
    align-items: center; */

    color: #FFFFFF;
    padding: .7rem;
    margin: .5rem 2rem;
}

.about_Image span {
    color: #CC9600;
}

.about_Image p {
    width: 66%;
}

.counterDiv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
}

.counter {
    color: #CA891D;
    margin-right: 5rem;
}

.about_Image button {
    padding: .8rem 2rem;
    border: 1px solid #CC9600;
    border-radius: 0.6rem;
    margin: 2.5rem 0rem;
    background: transparent;
    color: #FFFFFF;
}

.footer_Logo img {
    height: 5rem;
    margin: 2rem 5rem;
}

.footer_Text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #FFFFFF;
}

.footer_Text span {
    margin: 0rem 4rem;
}

.footer_Text span>a {
    color: #FFFFFF;
}

.footer_Text p {
    color: #CC9600;
}

/* 
----------------------------------------------------------
About Section CSS Only ---------------------------------------------------------- */
.about_Main_Content {
    background: #000;
    color: white;
}

.hero_About img {
    max-width: 100%;
}

.first_Pera {
    padding: 2rem 4rem;
}

.first_Pera h2 {
    font-family: Bona Nova;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 26px;
    letter-spacing: 2%;
    color: #CC9600;
}


.second_Pera,
.third_Pera {
    padding: 2rem 4rem;
}

h3 {
    font-family: Bona Nova;
    color: #CC9600;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2%;
}

.pA {
    font-family: Bona Nova;
    font-weight: 400;
    font-size: 20px;
    margin: 2rem;
    line-height: 26px;
    letter-spacing: 2%;
    text-align: center;
}

.pA span {
    color: #FCEE59;
}

.content {
    display: flex;
}

/* ----------------------------------------------------------------------------
Shop Section CSS Only ---------------------------------------------------------------------------- */

.shop_Main_Content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.shop_Main_Content h1 {
    font-family: Bona Nova;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    color: #CC9600;
    line-height: 100%;
    letter-spacing: 2%;

}

.shop_Main_Content input {
    margin-left: 1rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Book_Card {
    border: 1px solid darkgray;
    border-radius: .3rem;
    padding: 1rem;
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.Book_Card img {
    height: auto;
    width: 14rem;
}

.Book_Card h4 {
    margin-bottom: 0;
}

.Book_Card p {
    margin-top: 0;
}

.Book_Card a {
    text-decoration: none;
}

.Book_Card button {
    width: 60%;
    align-self: center;
    border: 1px solid #CC9600;
    border-radius: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    background: transparent;
    transition: .3s ease-in-out;
}

.Book_Card button:hover {
    background-color: #f4c030;
    transform: scale(1.2);
}

.Book_Card button img {
    height: 20px;
    width: 20px;
    margin: .2rem;
}

.cart_Buket {
    width: 100%;
    display: flex;
    justify-content: end;
}

.cart_Buket button {
    border: none;
    background-color: transparent;
    margin: .4rem 2rem;
    transition: .3s ease-in-out;
}

.cart_Buket button:hover {
    transform: scale(1.2);
}

.cart_Buket button img {
    height: 4rem;
    width: 4rem;

}

/* 
------------------------------------------------------------------------------------------
Login Section CSS Only ------------------------------------------------------------------------------------------ */


.login_Main {
    display: flex;
    height: 99vh;

}

.login_Main>.photo img {
    height: 99vh;
    width: auto;
}

.Login_Form_Section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_Main h2 {
    font-family: Bona Nova;
    text-align: center;
    font-weight: 700;
    font-style: Bold;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #CC9600;
}

.login_Main p {
    font-family: Bona Nova;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 100%;
    letter-spacing: 2%;
    text-align: center;
}

.Login_Form_Section form input {
    width: 27rem;
    height: 2.5rem;
    padding: .7rem;
    margin: .5rem;
    opacity: 0.9;
    border-radius: 10px;
    background-color: #D6CE80;
    color: #434244;
    font-family: Bona Nova;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 2%;
}

.login_Main form h2 {
    font-family: Bona Nova;
    font-weight: 700;
    font-style: Bold;
    font-size: 29px;
    color: #CA891D;
    line-height: 100%;
    letter-spacing: 2%;

}

.new_Regstration {
    display: flex;
    justify-content: space-between;
    width: 85%;
    align-items: center;
}

.new_Regstration p {
    font-family: Bona Nova;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 2%;
}

.new_Regstration a {
    font-family: Bona Nova;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 2%;
    text-decoration-style: solid;
    color: #F29C0D;
}

.Login_Method {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

.Login_Method img {
    height: 3rem;
    width: 3rem;
}

.Login_Method a {
    font-family: Bona Nova;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #FFFFFF;
    text-decoration: none;
}

.Login_Method button {
    width: 154px;
    height: 46px;
    opacity: 1;
    border-radius: 15px;
    background-color: #CC9600;
    font-family: Bona Nova;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 2%;
}



/* --------------------------------------------------------------------------
Notification Section CSS Only -------------------------------------------------------------------------- */

.notification_Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.notification_Main h2 {
    font-family: Bona Nova;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 2%;
    color: #4B330B;
}

.notification_Main span {
    font-family: Bona Nova;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2%;
    color: #000000;
}

.notification_Main img {
    height: 240px;
    width: auto;
    margin: 1rem;
}

/* ------------------------------------------------------Preview Section CSS Only ------------------------------------------------------ */

.preview_Main {
    display: flex;
}

.preview_Sidebar {
    width: 30%;
    background-color: #000;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-content: center; */
    position: relative;
}

.preview_Sidebar h2 {
    font-family: Bona Nova;
    font-weight: 700;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 2%;
    color: #FFFFFF;
    margin: 3rem auto 0;
}

.preview_Sidebar span {
    font-family: Bona Nova;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 2%;
    color: #FFDD7E;
    margin-top: 0;

}

.preview_Sidebar img {
    width: 29rem;
    position: absolute;
    left: 15%;
    top: 30%;

}

.content_Preview {
    width: 70%;
    padding: 2rem;
    margin: 2rem;
    padding-left: 15rem;

}

.cetagoty_Tag {
    display: flex;
    align-items: center;
}

.cetagoty_Tag img {
    height: 35px;
    width: 35px;
    margin: .5rem;
}

.cetagoty_Tag h2 {
    font-family: Bona Nova;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2%;
}

.content_Preview p {
    font-family: Bona Nova;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: justify;

}

.price_Tage h2 {
    color: #CA891D;
}

.price_Tage>span {
    font-family: Bona Nova;
    font-weight: 400;
    font-style: Italic;
    font-size: 16px;
    color: #593903;
    line-height: 32px;
    letter-spacing: 2%;

}

.price_Tage button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #CC9600;
    border-radius: 1rem;
    padding: .3rem 2rem;
    font-family: Bona Nova;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;

}

.about_Preview_Item {
    position: relative;
    margin: 4rem auto;
}

.about_Preview_Item button {
    position: absolute;
    top: 0rem;
    right: 1rem;
    background-color: transparent;
    border: 1px solid #CC9600;
    border-radius: .5rem;
    padding: .4rem 2rem;
    font-family: Bona Nova;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

/* 
------------------------------------------------------------------
Cart Section CSS Only ------------------------------------------------------------------ */

.Cart_Main {
    display: flex;

}

.cart_Banner {
    height: 100vh;
    align-items: center;
}


.cart_Banner img {
    margin-top: 4rem;
    height: 80vh;
    width: auto;
}

.Cart_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: stretch;
}

.Cart_Container h2:nth-last-of-type(3) {
    font-family: Bona Nova;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    color: #4B330B;
    line-height: 32px;
    letter-spacing: 2%;

}

.Cart_Container h2:nth-last-of-type(2) {
    font-family: Bona Nova;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    color: #000000;
    line-height: 21px;
    letter-spacing: 2%;
}

.Cart_Container button {
    border: 1px solid black;
    border-radius: .5rem;
    padding: .2rem 1rem;
    margin: 1rem;
    font-family: Bona Nova;
    font-weight: 400;
    font-style: Regular;
    font-size: 29px;
    color: #000000;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: transparent;

}

.cart_List {
    border: 1px solid black;
    border-radius: .5rem;
    padding: 3rem;
    margin: .4rem 3rem;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-self: flex-start;

}

.cart_List img {
    width: 5rem;
    height: auto;
    align-self: center;
}

.cart_List h2:nth-last-of-type(2) {
    font-family: Bona Nova;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    color: #000000;
    line-height: 21px;
    letter-spacing: 2%;
}

.cart_List h2:nth-last-of-type(1) {
    font-family: Bona Nova;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    color: #000000;
    line-height: 21px;
    letter-spacing: 2%;
}

.cart_List span:nth-last-of-type(2) {
    font-family: Bona Nova;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    color: #000000;
    line-height: 21px;
    letter-spacing: 2%;
}

.cart_List span:nth-last-of-type(1) {
    font-family: Bona Nova;
    font-weight: 700;
    font-size: 18px;
    color: #4B330B;
    line-height: 21px;
    letter-spacing: 2%;
    align-self: center;
}

.cart_List span:nth-last-of-type(1) input {
    width: 2rem;
    padding: .2rem;
    margin: 0rem .3rem;
    border-radius: .4rem;
    border: 1px solid black;
}

.cart_List span:nth-last-of-type(1) input[type=number]::-webkit-inner-spin-button,
.cart_List span:nth-last-of-type(1) input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}